.flex-holder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 100px;
}
.container {
	max-width: 625px;
	text-align: left;
	padding: 15px;
	margin: 0;
}
.donut-container {
	width: 280px;
	text-align: center;
	padding-top: 50px;
}

.chart-container {
	position: sticky;
	top: 20px;
}
.chart {
	width: 240px;
	margin: auto;
	margin-bottom: 30px;
}
.chart h3 {
	margin: 0;
}
.legend {
	font-size: 14px;
}
.legend .item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 5px;
}
.legend .item .square {
	width: 12px;
	height: 12px;
	/*border: 1px solid black;*/
	display: inline-block;
	margin-right: 1px;
	vertical-align: top;
	margin-top: 3px;
}

.legend .item .square.light_green { background: rgb(211,222,160); }
.legend .item .square.green { background: rgb(171,182,120); }
.legend .item .square.light_blue { background: rgb(156,198,209); }
.legend .item .square.sand { background: rgb(250,238,205); }
.legend .item .square.blue { background: rgb(78,133,147); }
.legend .item .square.dark_blue { background: rgb(52,94,109); }
.legend .item .square.gray { background: rgb(208, 206, 206); }

.small_donuts {
	display: none;
}

@media only screen and (max-width: 600px) {
  .menu {
  	height: 60px;
  }
  .container {
    width: 90%;
  }
  .header-text img { 
  	position: relative; display: block; width: auto; top: auto; left: auto; margin: auto;
  }
  .flex-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 100px;
  }
  .donut-container {
	display: none;
  }
  .small_donuts {
  	display: block;
  	position: sticky;
  	top: 0px;
  	background: rgb(248, 246, 248);
  	width: 100%;
  	text-align: center;
  	margin-bottom: 40px;
  }
  .chart-holder {
  	width: 150px;
  	display: inline-block;
  	vertical-align: top;
  }
  .chart-holder h3 {
  	font-size: 18px;
  	margin: 0;
  	margin-top: 15px;
  }
  .legend { margin-bottom: 10px; }
}













